{% macro rst_title(title, character) -%}
{% set rule = title|rst_rule_title(character) %}
{{rule}}
 {{title}}
{{rule}}
{%- endmacro %}

{# :private-members: #}
{# :special-members: #}
{# :inherited-members: #}
{# :show-inheritance: #}
{# :ignore-module-all: #}
{# :exclude-members: #}

{% macro rst_automodule(module) -%}
.. automodule:: {{module}}
    :members:
    :undoc-members:
    :show-inheritance:
{% endmacro -%}

{% macro rst_toctree(items) -%}
.. toctree::
{%- for item in items %}
    {{item}}
{%- endfor %}
{%- endmacro -%}
