*~
__pycache__

doc/sphinx/build/
doc/sphinx/source/api/
doc/sphinx/source/examples/
doc/sphinx/source/themes/PyterateRtd/piwik.html

MANIFEST
Pyterate.egg-info/
build/
dist/
.ipynb_checkpoints/

__TRASH__/
du.log
ressources/
sphinx-extensions

doc.txt
open-doc.sh
requirements-notes.txt
setenv.sh
sphinx-tool.txt

test/.ipynb_checkpoints/
test/full-test.html5
test/full-test.md
test/paser-test.py
test/test-jupyter.py
test/test-pandoc.py
test/test-template.py
test/test.ipynb
test/toc.jinja
test/untitled.ipynb
test/untitled.png

tools/license-model-gpl.py
tools/upload-www
