*~
__pycache__
#
doc/sphinx/build/
doc/sphinx/source/api/
doc/sphinx/source/examples/
#
MANIFEST
Pyterate.egg-info/
build/
dist/
#
.ipynb_checkpoints/
AutoSphinx/ExampleRstFactory/patch.diff
bin/test-rst-example
doc.txt
doc/sphinx/source/themes/PyterateRtd/piwik.html
du.log
open-doc.sh
pyspice/
ressources/
setenv.sh
sphinx-tool.txt
template-variables.txt
test/.ipynb_checkpoints/
test/full-test.html5
test/full-test.md
test/test.ipynb
test/toc.jinja
test/untitled.ipynb
test/untitled.png
tools/license-model-gpl.py
tools/upload-www
trash/
