{% from "macros.jinja2" import rst_title, rst_getthecode -%}

{% block includes %}{% endblock %}

{% block title_section -%}
{% if title -%}
{{ rst_title(title, character='#', use_myst=use_myst) }}
{%- endif %}
{%- endblock %}

{% block source_code_section %}
{{ rst_getthecode(input_file, use_myst) }}
{% endblock %}

