{% from "macros.jinja2" import rst_title -%}

{% block title_section -%}
{% if user_content -%}
{{user_content}}
{% else %}
{{ rst_title(title, character='#', use_myst=use_myst) }}
{%- endif %}
{%- endblock %}

{% block counter_section -%}
{% if number_of_subtopics or number_of_documents or number_of_links -%}
{% with ns = number_of_subtopics, nd = number_of_documents, nl = number_of_links -%}
This section has
{%- if ns %} {{ns}} sub-topics{% if nd and nl %}, {% elif nd or nl %} and {% endif %}{% endif %}
{%- if nd %} {{nd}} documents{% if nl %}, and {% endif %}{% endif %}
{%- if nl %} {{nl}} related documents{% endif %}.
{%- endwith %}
{%- endif %}
{%- endblock %}

{% block toctree_section -%}
{% if use_myst %}```{toctree}{% else %}.. toctree::{% endif %}
  :maxdepth: 1
{% for subtopic in subtopics %}
{% if not use_myst %}  {% endif %}{{subtopic}}/index{% if use_myst %}.md{% else %}.rst{% endif %}
{% endfor %}
{% for filename in toc_items %}
{% if not use_myst %}  {% endif %}{{filename}}
{% endfor %}
{% if use_myst %}```{% endif %}
{%- endblock %}
