{% from "macros.jinja2" import rst_title -%}

{% block title_section -%}
{% if user_content -%}
{{user_content}}
{% else %}
{{ rst_title(title, character='#') }}
{%- endif %}
{%- endblock %}

{% block counter_section -%}
{% if number_of_subtopics or number_of_documents or number_of_links -%}
{% with ns = number_of_subtopics, nd = number_of_documents, nl = number_of_links -%}
This section has
{%- if ns %} {{ns}} sub-topics{% if nd and nl %}, {% elif nd or nl %} and {% endif %}{% endif %}
{%- if nd %} {{nd}} documents{% if nl %}, and {% endif %}{% endif %}
{%- if nl %} {{nl}} related documents{% endif %}.
{%- endwith %}
{%- endif %}
{%- endblock %}

{% block toctree_section -%}
.. toctree::
  :maxdepth: 1
{% for subtopic in subtopics %}
  {{subtopic}}/index.rst
{% endfor %}
{% for filename in toc_items %}
  {{filename}}
{% endfor %}
{%- endblock %}
